.guiVersion2 body {
    background-color: #f4f4f4;
}

.socialLoginWide {
    width: fit-content;
    margin: 0 auto; /* This centers the element horizontally */
    display: block; /* Ensure it's treated as a block-level element to be centered */
    border-radius: 25px;
}

.socialLoginWide .vippsLink span {
    margin-left: 4px;
}

.socialLoginWide .vippsLink {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.guiVersion2 .button  {
    background-color: black !important;
    cursor: pointer;
    font-weight: 700 !important;
    border-radius: 25px;
    width: fit-content;
}

/*
input[type="text"]:focus, input[type="password"]:focus {
    border-color: gray;
    box-shadow: 0 0 15px rgba(105, 105, 105, .8);
}
*/

.credentialComponent:has(.textField.ng-invalid):not(:focus-within) {
    border: 1px solid #F35D67;
}

.credentialComponent:focus-within {
    outline: none;
    border-color: gray; /* Change border color on focus */
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

.credentialComponent:focus {
    border-color: gray;
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

input:not(#j_username):focus {
    border-color: gray; /* Change border color on focus */
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

.guiVersion2 .button:hover {
    background-color: black !important;
}

.guiVersion2 .outerFrame {
    margin-top: 250px;
    padding-bottom: 30px;
    border-radius: 25px;
    width: 100%;
}

.guiVersion2 .loginFram {
    margin: 0;
    padding-bottom: 30px;
    border-radius: 25px;

}

.loginInner .logoDiv  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(153 1 1);
    background-color: #ffffff;
    z-index: 9999;
}

.logoDiv img.logo {
    padding: 0 9px;
    max-height: 50px;
}

#loginForm {
    padding-top: 100px;

}

.loginFrame {
    width: 680px;

    border: none;
    box-shadow: none;
    border-radius: 2%;
}

.guiVersion2 .headingColumn {
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
}

.guiVersion2 .heading {
    font-weight: 700;
    font-size: 1.2em;
}

.guiVersion2 .heading {
    padding: 10px;
    border-width: 0 0;
    border-top: 0;
    border-color: #f4f4f4;
}

.footerContent {
    display: none;
}

@media only screen and (max-width: 680px) {

    .column {
    }

    .guiVersion2 .headingColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    HTML, BODY, #loginForm, .outerFrame {
        background-color: #f4f4f4;
    }

    .loginFrame {
        width: 420px;
    }

    .loginInner .logoDiv  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
        padding: 4px 4px;
        border-bottom: 1px solid rgb(153 1 1);
        background-color: #ffffff;
        z-index: 9999;
    }

    .logoDiv img.logo {
        padding: 6px 73px;
    }

    .guiVersion2 .heading {
        padding: 30px;
        font-weight: 700;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 479px) {

    .column {
    }

    .guiVersion2 .headingColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    HTML, BODY, #loginForm, .outerFrame {
        background-color: #f4f4f4;
    }

    .loginFrame {
        width: 100%;
    }


    .loginInner .logoDiv  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
        padding: 4px 4px;
        border-bottom: 1px solid rgb(153 1 1);
        background-color: #ffffff;
        z-index: 9999;
    }

    .logoDiv img.logo {
        padding: 6px 73px;
    }

    .guiVersion2 .heading {
        padding: 30px;
        font-weight: 700;
        font-size: 1.2em;
    }

    .dd-options {
        box-shadow: 0 0 15px rgba(105, 105, 105, .8);
        max-height: 240px;
        width: 100%; /* Adjust width if necessary */
        overflow-y: auto; /* Vertical scroll */
        overflow-x: auto; /* Horizontal scroll */
        white-space: nowrap; /* Ensure items are in a single line for horizontal scroll */
    }

    .dd-selected {
        padding: 10px;
        text-align: right;
    }

    /* Custom scrollbar styling for WebKit-based browsers */
    .dd-options::-webkit-scrollbar {
        width: 0px;  /* Width of the scrollbar */
        height: 6px; /* Height of the scrollbar for horizontal scrolling */
    }

    .dd-options::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0,0.1); /* Darker color for the thumb */
        border-radius: 10px;
    }

    .dd-options::-webkit-scrollbar-track {
        background-color: transparent; /* Transparent track to make the scrollbar less noticeable */
    }
}