@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family:  'Open Sans', 'Helvetica';
}


.guiVersion2 .button {
}


.guiVersion2 .button {
   background-color: #cc9933 !important;
}

.guiVersion2 .button:hover {
    background-color: #b1842b !important;
}


.guiVersion2 body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/bakgrunn.png);
}

.loginFrame {
    border: 0px #939598 solid;
}