
/*
 * Logo øverst til venstre
 */
.login .toppBanner {
  background: url(logo.gif) no-repeat 1px 5px;
  height:60px;
}

table.VelgAbonnementFieldset tbody tr td span {
	line-height: 1.6em;
}


/*
 * Logo øverst til venstre
 */
.not_logged_in .toppBanner {
  background: url(logo.gif) no-repeat 1px 5px;
  height:60px;
}

.not_logged_in table.VelgAbonnementFieldset tbody tr td span {
	line-height: 1.6em;
}