/*
 * Custom CSS
 */
.logoDiv{
	display: none;
}

.guiVersion2 #credentialFieldDiv .label::before {
	content: 'Brukernavn (e-post)';
}
.guiVersion2 #credentialFieldDiv .label span#credentialDescription,
.guiVersion2 #credentialFieldDiv .label span#userIdLabelEmail,
.guiVersion2 #credentialFieldDiv .label span#userIdLabel,
.guiVersion2 #credentialFieldDiv .label span#credentialDescriptionEmail {
	display: none;
}



