/* Subscribe */

@import url('../../common/css/common.css');
@import url('../../common/fonts/fonts.css');

body {
    color: #000;
}

.page {
    background: #fafaf7 url(../img/bg-home.jpg) no-repeat 0 bottom;
    background-size: cover;
}

input{
    border-color: #ccc;
    background: #ffffff;
}

.submitButton {
    background: #f46081;
}

.bodyHeader {
    background: #8677c3 url(../img/logo.png) no-repeat center ;
    background-size: 136px auto;
}

.bodyFooter {
    background: rgba(255, 255, 255, .5) url(../img/faq-arrow-up.png) no-repeat 730px 20px;
}

.bodyFooter.open {
    background: rgba(255, 255, 255, .5) url(../img/faq-arrow-down.png) no-repeat 730px 20px;
}

