.guiVersion2 body {
  background-color: #f4f4f4;
}

#loginButton {
  background-color: black !important;
}

.loginInner .logoDiv  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 116px;
  padding: 12px 12px;
  border-bottom: 2px solid #D60000;
  background-color: #D60000;
  z-index: 9999;
}

.logoDiv img.logo {
}

#loginForm {
  padding-top: 100px;

}

.loginFrame {
  border: none;
  box-shadow: none;
}

.guiVersion2 .headingColumn {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
}

.guiVersion2 .heading {
  border-top: 0;
  border-width: 3px 0;
  border-color: #f4f4f4;
}

.loginMain {
  padding: 0;
}