.guiVersion2 .button {
    background-color: #45989e ! important;
    padding: 12px 30px;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: none;
}

.guiVersion2 .button:hover {
    background-color: #45989e !important;
}
