.guiVersion2 body {
    background-color: #f4f4f4;
}

.socialLoginWide {
    width: fit-content;
    margin: 0 auto; /* This centers the element horizontally */
    display: block; /* Ensure it's treated as a block-level element to be centered */
    border-radius: 25px;
}

.socialLoginWide .vippsLink span,
.socialLoginWide .appleLink span,
.socialLoginWide .facebookLink span,
.socialLoginWide .googleLink span{
    margin-left: 4px;
}

.socialLoginWide .vippsLink,
.socialLoginWide .appleLink,
.socialLoginWide .facebookLink,
.socialLoginWide .googleLink{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.guiVersion2 .button  {
    background-color: black !important;
    cursor: pointer;
    font-weight: 700 !important;
    border-radius: 25px;
    width: fit-content;
}

/*
input[type="text"], input[type="password"] {
    border: 2px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
*/

.credentialComponent:has(.textField.ng-invalid):not(:focus-within) {
    border: 1px solid #F35D67;
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

.credentialComponent:focus-within {
    outline: none;
    border: 1px solid gray;
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

.credentialComponent:focus {
    border-color: gray;
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

input:not(#j_username):focus {
    border-color: gray; /* Change border color on focus */
    box-shadow: 0 0 15px rgba(105, 105, 105, .8); /* Optional shadow effect */
}

.guiVersion2 .button:hover {
    background-color: black !important;
}

.guiVersion2 .outerFrame {
    margin-top: 250px;
    padding-bottom: 30px;
    border-radius: 25px;
    width: 100%;
}

.guiVersion2 .loginFram {
    margin: 0;
    padding-bottom: 30px;
    border-radius: 25px;

}

.loginInner .logoDiv  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(153 1 1);
    background-color: #ffffff;
    z-index: 9999;
}

.logoDiv img.logo {
    padding: 0 9px;
    max-height: 50px;
}

#loginForm {
    padding-top: 100px;

}

.loginFrame {
    width: 680px;

    border: none;
    box-shadow: none;
    border-radius: 2%;
}

.guiVersion2 .headingColumn {
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
}

.guiVersion2 .heading {
    font-weight: 700;
    font-size: 1.2em;
}

.guiVersion2 .heading {
    padding: 10px;
    border-width: 0 0;
    border-top: 0;
    border-color: #f4f4f4;
}

.footerContent {
    display: none;
}

@media only screen and (max-width: 680px) {

    .column {
    }

    .guiVersion2 .headingColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    HTML, BODY, #loginForm, .outerFrame {
        background-color: #f4f4f4;
    }

    .loginFrame {
        width: 420px;
    }

    .loginInner .logoDiv  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
        padding: 4px 4px;
        border-bottom: 1px solid rgb(153 1 1);
        background-color: #ffffff;
        z-index: 9999;
    }

    .logoDiv img.logo {
        padding: 6px 73px;
    }

    .guiVersion2 .heading {
        padding: 30px;
        font-weight: 700;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 479px) {

    .column {
    }

    .guiVersion2 .headingColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    HTML, BODY, #loginForm, .outerFrame {
        background-color: #f4f4f4;
    }

    .loginFrame {
        width: 100%;
    }


    .loginInner .logoDiv  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
        padding: 4px 4px;
        border-bottom: 1px solid rgb(153 1 1);
        background-color: #ffffff;
        z-index: 9999;
    }

    .logoDiv img.logo {
        padding: 6px 73px;
    }

    .guiVersion2 .heading {
        padding: 30px;
        font-weight: 700;
        font-size: 1.2em;
    }
}

.dd-options {
    box-shadow: 0 0 15px rgba(105, 105, 105, .8);
}

.socialLoginWide {
    width: 100%;
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
    gap: 10px; /* Add some space between the buttons */
    justify-content: center; /* Center the items in each row */
}

.socialLoginWide a {
    display: inline-flex; /* Display buttons side by side */
    width: 12%; /* Adjust width to fit two per row */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginStyleWideButtonsAll a {
    display: inline-flex;
    width: 50%;
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 44px;
}

/* Optional: Style adjustments for smaller screens */
@media only screen and (max-width: 680px) {
    .socialLoginWide a {
        width: 22%; /* Make each button full-width on small screens */
    }
}

/* Hover styles for each social login button with a gradient overlay */
.socialLoginWide .vippsLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #ff5b24; /* Vipps */
}

.socialLoginWide .facebookLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #4e75be; /* Facebook */
}

.socialLoginWide .googleLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #f4f4f4; /* Light Gray */
}

.socialLoginWide .appleLink:hover{
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #474646; /* Apple */
}

/* Optional: transition for smooth gradient effect */
.socialLoginWide a {
    transition: background 0.3s ease;
}
.socialLoginWide .vippsLink .label {
    display: none;
}

.guiVersion2 .heading {
    padding: 0 0;
}

/* custom klassekampen styles and colours */
.guiVersion2 a {
    color: #AD1409;
    text-decoration: none;
}

.guiVersion2 a:hover {
    text-decoration: underline;
}

.guiVersion2 .button:hover {
    background-color: #AD1409 !important;
}

.guiVersion2 #loginHeaderInfoDiv {
    text-align: center;
}

.guiVersion2 #generalHelpInfoDiv {
    text-align: center;
    font-size: 1.1em;
}

.guiVersion2 .loginFrame {
    border: 0 #939598 solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255,1)!important;
}