@import url('/assets/default.theme.css');

.mat-app-header {
  color: black;
  background-color: #f8f7f5; }

.mat-app-footer {
  color: #212121;
  background-color: #eeddee; }

.mat-primary .mat-option.mat-selected {
  color: #339fff;
}


.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #339fff;
}

.mat-app-background-primary {
  background-color: #339fff;
}

.mat-app-color-primary {
  color: #339fff;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary {
  color: #339fff;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #339fff;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #339fff;
}

.mat-chip.mat-chip-selected.mat-primary {
  background-color: #339fff;
}

.mat-calendar-body-selected {
  background-color: #339fff;
}

.mat-focused .mat-form-field-placeholder {
  color: #339fff;
}

.mat-form-field-ripple {
  background-color: #339fff;
}

.mat-icon.mat-primary {
  color: #339fff;
}

.mat-progress-bar-fill::after {
  background-color: #339fff;
}

.mat-progress-spinner path, .mat-spinner path {
  stroke: #339fff;
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #339fff;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: #339fff;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
  color: #339fff;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: #339fff;
}

.mat-primary .mat-slider-track-fill,
.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label {
  background-color: #339fff;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #339fff;
}

.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links {
  background-color: #339fff;
}

.mat-toolbar.mat-primary {
  background: #339fff;
}


.app-card-add-container {
    display: none !important;
}


.app-wcag-button {
    fill: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 30px;
}


.app-menu-button {
    fill: #339fff !important;
}

.mat-app-footer {
    color: #212121;
    background-color: #f8f7f5;
}

.mat-app-footer a {
    color: #212121;
    decoration: underline;
}
