
/*
 * Logo øverst til venstre
 */
.not_logged_in .main { background: url(cover.jpg) no-repeat 1px 10px; padding-left:170px; }


/*
 * Innlogget
 */
.logged_in .main { 
  /*width:1000px; */
  background: url(cover.jpg) no-repeat 0px 10px;
  padding-left:170px;  
  width:150px;
} 



.logged_in table.VelgAbonnementFieldset tbody tr td span {
	line-height: 1.6em;
}