
/*
 * Logo �verst til venstre
 */
.login .toppBanner {
  background: url(logo.jpeg) no-repeat 1px 5px;
  height:65px;
}

table.VelgAbonnementFieldset tbody tr td span {
	line-height: 1.6em;
}

/*
 * Innlogget
 */
.logged_in .main {
  /*width:1000px; */
  background: url(cover.jpg) no-repeat 0px 10px;
  padding-left:170px;
  width:150px;
}

/*
 * Logo �verst til venstre
 */
.not_logged_in .main { background: url(logo.jpg) no-repeat 1px 10px; padding-top: 85px;  background-size: 350px 74px; padding-left: 0; }


.logged_in table.VelgAbonnementFieldset tbody tr td span {
	line-height: 1.6em;
}
