.guiVersion2 #credentialFieldDiv .label::before {
  content: 'E-post';
}
.guiVersion2 body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/bakgrunn.jpg);
}
span#credentialDescriptionSocialDefault,
span#credentialDescription,
span#credentialDescriptionEmail,
span#credentialDescriptionMobilePhone,
span#credentialDescriptionSocial,
span#userIdLabelEmail,
span#userIdLabelCredentialDescription,
span#userIdLabelMobilePhone,
span#userIdLabelSocial {
  display: none;
}
