label[for="username"],
label[for="j_username"]
{     visibility: hidden;     position: relative; }

label[for="username"]:after,
label[for="j_username"]:after
{     visibility: visible;
	content:'Fyll i e-post';
	position: absolute;
	top: 0;
	left: 0;
	margin-top:20px;
}

label[for="repeatCredentialField"]
{     visibility: hidden;     position: relative; }

label[for="repeatCredentialField"]:after
{     visibility: visible;
	content:'Upprepa e-post';
	position: absolute;
	top: 0;
	left: 0;
}
