/* Subscribe */

@import url('../../common/css/common.css');
@import url('../../common/fonts/SourceSansBold/sourcesanspro-bold.css');
@import url('../../common/fonts/SourceSansRegular/sourcesanspro-regular.css');
@import url('../../common/fonts/SourceSansSemibold/sourcesanspro-semibold.css');

.page {
    background: #fafaf7 url('../img/bg-home.jpg') no-repeat 0 0;
}

input {
    border-color: #C7C7C7;
    background: #fafaf7;
}

.submitButton {
    background: #1396d1;
    box-shadow: 0 0 2px 1px rgba(3, 167, 218, .5);
}

.bodyHeader {
    background: #161616 url('../img/logo.png') no-repeat center 25px;
    background-size: 136px auto;
}

.bodyFooter {
    background: rgba(255, 255, 255, .5) url('../img/faq-arrow-up.png') no-repeat 730px 20px;
}

.bodyFooter.open {
    background: rgba(255, 255, 255, .5) url('../img/faq-arrow-down.png') no-repeat 730px 20px;
}

.bodyFooter p#openMe {
    color: #e63135;
}
