.guiVersion2 .button {
    background-color: #7e7e7f !important;
}
.guiVersion2 .button:hover {
    background-color: #626264 !important;
}

.guiVersion2 body {
    background-color: #f4f5f7  !important;
}


.socialLoginWide {
    width: 100%;
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
    gap: 10px; /* Add some space between the buttons */
    justify-content: left; /* Center the items in each row */
}

.socialLoginWide a {
    display: inline-flex; /* Display buttons side by side */
    width: 48%; /* Adjust width to fit two per row */
    padding-left: 6px;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.socialLoginWide .googleLink span,
.socialLoginWide .facebookLink span,
.socialLoginWide .appleLink span,
.socialLoginWide .vippsLink span,
.socialLoginWide .aidLink span {
    margin-left: 4px;
}

.socialLoginWide .vippsLink,
.socialLoginWide .facebookLink,
.socialLoginWide .googleLink,
.socialLoginWide .appleLink,
.socialLoginWide .aidLink {
    margin-bottom: 0;
}

/* Optional: Style adjustments for smaller screens */
@media only screen and (max-width: 680px) {
    .socialLoginWide a {
        width: 48%; /* Make each button full-width on small screens */
    }
}

/* Hover styles for each social login button with a gradient overlay */
.socialLoginWide .vippsLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #ff5b24; /* Vipps */
}

.socialLoginWide .facebookLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #4e75be; /* Facebook */
}

.socialLoginWide .googleLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #f4f4f4; /* Light Gray */
}

.socialLoginWide .appleLink:hover{
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #474646; /* Apple */
}

/* Optional: transition for smooth gradient effect */
.socialLoginWide a {
    transition: background 0.3s ease;
}
