.guiVersion2 body {
    background-color: #f1f5f9;
}

.guiVersion2 #loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guiVersion2 .par .orLoginWith {
    border-bottom: 1px solid #CBD5E1;
}

#startRegistrationLink {
    display: none !important;
}

#loginHeaderInfoDiv, #registerHeaderInfoDiv {
    justify-content: center;
    text-align: center;
}

#sequence-confirmAutoLogin #state-1 #headingColumn,
#sequence-login #state-1 #headingColumn,
#sequence-login #state-4 #headingColumn {
    display: none;
}

#showSocialLoginButtonsDiv {
}

.guiVersion2 .par {
    /*margin: 10px 0;*/
    margin: 20px 0;
}

.loginMain {
    /*padding: 20px 0 20px 0;*/
    padding: 20px 0 20px 0;
}

.guiVersion2 #loginForm .outerFrame {
    /*padding-top: 20px;*/
    padding-top: 30px;
}

.socialLoginWide {
    width: fit-content;
    margin: 0 auto; /* This centers the element horizontally */
    display: block; /* Ensure it's treated as a block-level element to be centered */
    border-radius: 25px;
    height: 44px;
}

.socialLoginWide .vippsLink span,
.socialLoginWide .appleLink span,
.socialLoginWide .facebookLink span,
.socialLoginWide .googleLink span{
    margin-left: 4px;
}

.socialLoginWide .vippsLink,
.socialLoginWide .appleLink,
.socialLoginWide .facebookLink,
.socialLoginWide .googleLink{
    border-radius: 25px;
    height: 44px;
}

.guiVersion2 .button  {
    background-color: black !important;
    cursor: pointer;
    font-weight: 700 !important;
    border-radius: 25px;
    width: fit-content;
    text-transform: none;
}

/*
input[type="text"]:focus, input[type="password"]:focus {
    border-color: gray;
    box-shadow: 0 0 15px rgba(105, 105, 105, .8);
}
*/

.credentialComponent:has(.textField.ng-invalid):not(:focus-within) {
    border: 1px solid #F35D67;
}

.credentialComponent:focus-within {
    outline: none;
    border-color: gray; /* Change border color on focus */
    box-shadow: 0 0 0 3px #E2E8F0, 0 0 0 5px #A0AEC0;
}

.credentialComponent:focus {
    border-color: gray;
    box-shadow: 0 0 0 3px #E2E8F0, 0 0 0 5px #A0AEC0;
}

/* input:not(#j_username):focus {  change to that style if picker a part of input */
input:focus {
    border-color: gray; /* Change border color on focus */
    box-shadow: 0 0 0 3px #E2E8F0, 0 0 0 5px #A0AEC0;
}

.guiVersion2 .button:hover {
    background-color: black !important;
}

.guiVersion2 .outerFrame {
    margin-top: 20px;
    padding-bottom: 30px;
    border-radius: 25px;
    width: 100%;
}

.guiVersion2 .loginFram {
    margin: 0;
    padding-bottom: 30px;
    border-radius: 25px;

}

.loginInner .logoDiv  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(153 27 27 / var(--tw-bg-opacity));
    z-index: 9999;
}

.logoDiv img.logo {
    padding: 0 9px;
    max-height: 50px;
}

.loginFrame {
    width: 680px;
    border: none;
    box-shadow: none;
    border-radius: 2%;
}

.guiVersion2 .headingColumn {
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
}

.guiVersion2 .heading {
    font-weight: 700;
    font-size: 1.2em;
}

.guiVersion2 .heading {
    padding: 10px;
    border-width: 0 0;
    border-top: 0;
    border-color: #f1f5f9;
}

.footerContent {
    display: none;
}

@media only screen and (max-width: 680px) {

    .column {
    }

    .guiVersion2 .headingColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    HTML, BODY, #loginForm, .outerFrame {
        background-color: #f1f5f9;
    }

    .loginFrame {
        width: 420px;
    }

    .guiVersion2 #loginForm {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .loginInner .logoDiv  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
        padding: 4px 4px;
        --tw-bg-opacity: 1;
        background-color: rgb(153 27 27 / var(--tw-bg-opacity));
        z-index: 9999;
    }

    .logoDiv img.logo {
        padding: 6px 73px;
    }

    .guiVersion2 .heading {
        padding: 30px;
        font-weight: 700;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 479px) {
    HTML, BODY, #loginForm, .outerFrame {
        margin: 0;
        padding-top: 10px;
        background-color: #fbfbfb;
    }

    .column {
    }

    .guiVersion2 .headingColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .loginFrame {
        width: 100%;
    }

    .guiVersion2 #loginForm {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .loginInner .logoDiv  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
        padding: 4px 4px;
        --tw-bg-opacity: 1;
        background-color: rgb(153 27 27 / var(--tw-bg-opacity));
        z-index: 9999;
    }

    .logoDiv img.logo {
        padding: 6px 73px;
    }

    .guiVersion2 .heading {
        padding: 30px;
        font-weight: 700;
        font-size: 1.2em;
    }
}

.dd-options {
    box-shadow: 0 0 15px rgba(105, 105, 105, .8);
}

.credentialTypePickerStandaloneComponent {
    background-color:  #dfe5ed;
}

.dd-selected {
    background-color:  #dfe5ed !important;
}

#credentialTypePickerLabel {
    background-color: #dfe5ed !important;
}

.socialLoginWide {
    width: 100%;
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
    gap: 10px; /* Add some space between the buttons */
    justify-content: center; /* Center the items in each row */
    height: 44px;
}

.socialLoginWide a {
    display: inline-flex; /* Display buttons side by side */
    width: 50%; /* Adjust width to fit two per row */
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 44px;
}

.socialLoginWide .googleLink span,
.socialLoginWide .facebookLink span,
.socialLoginWide .appleLink span,
.socialLoginWide .vippsLink span,
.socialLoginWide .aidLink span {
    margin-left: 4px;
}

.socialLoginWide .vippsLink,
.socialLoginWide .facebookLink,
.socialLoginWide .googleLink,
.socialLoginWide .appleLink,
.socialLoginWide .aidLink {
    margin-bottom: 0;
    height: 44px;
}

/* Optional: Style adjustments for smaller screens */
@media only screen and (max-width: 680px) {
    .socialLoginWide a {
        width: 100%; /* Make each button full-width on small screens */
        display: inline-flex; /* Display buttons side by side */
        padding-left: 12px;
        padding-right: 10px;
        border-radius: 25px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 44px;
    }

}

/* Hover styles for each social login button with a gradient overlay */
.socialLoginWide .vippsLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #ff5b24; /* Vipps */
}

.socialLoginWide .facebookLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #4e75be; /* Facebook */
}

.socialLoginWide .googleLink:hover {
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #f4f4f4; /* Light Gray */
}

.socialLoginWide .appleLink:hover{
    background: linear-gradient(rgba(22,18,37,0.04), rgba(22,18,37,0.04)), #474646; /* Apple */
}

/* Optional: transition for smooth gradient effect */
.socialLoginWide a {
    transition: background 0.3s ease;
}

.guiVersion2 .heading {
    padding: 0 0;
}

#startRegistrationButtonDiv,
#startRegistrationLinkHref {
    height: 1px;
    color: #fff !important;
    margin-top: -30px
}

#state-4 #showSocialLoginButtonsLinks ,
#state-4 #authenticateUsingPasswordLinkHref,
#state-4 #authenticateUsingPasswordLinkDiv,
#state-4 #showSocialLoginButtonsDiv,
#state-4 #orLoginWith,
#state-4 #socialLinkLabel{
    display: none;
}


#state-5 #showSocialLoginButtonsLinks ,
#state-5 #authenticateUsingPasswordLinkHref,
#state-5 #authenticateUsingPasswordLinkDiv,
#state-5 #showSocialLoginButtonsDiv,
#state-5 #orLoginWith,
#state-5 #socialLinkLabel{
    display: none;
}

#credentialLabel, #credentialDescriptionEmail, #credentialDescriptionMobilePhone {
    display: none;
}

#enterVerificationCodeFieldDiv  {
    justify-content:center;
    text-align: center;
}

/* digit cerification code */
.code-input {
    width: 48px; /* Width of each box */
    height: 48px; /* Height of each box */
    max-width: 48px;
    max-height: 48px;
    text-align: center;
    font-weight: bold;
    font-size: 24px !important; /* Font size for the digits */
    border: 2px solid #ccc !important; /* Default border */
    border-radius: 8px; /* Rounded corners */
    outline: none;
    transition: border-color 0.2s ease;
}

.code-input::placeholder {
    color: transparent;
}

.code-input:focus {
    border: 2px solid #1a202c !important; /* Darker border on focus */
}

.error {
    background: none;
    color: #DC2626;
    border: none;
    text-align: center;
}

.errorBox {
    background: none;
    color: #DC2626;
    border: 1px solid #DC2626;
    border-radius: 8px;
    text-align: center;
}

#state-5 .credentialTypePickerStandaloneComponent, #state-23 .credentialTypePickerStandaloneComponent {
    display: none;
}

#state-5 #j_username, #state-23 #j_username {
    display: none;
}