@import url('/css.ng/assets/default.theme.css');


.mat-app-header {
 color: white;
 background-color: #f8f7f5; }

.mat-app-footer {
 color: #212121;
 background-color: #f8f7f5; }


 .mat-option {
   color: rgba(0, 0, 0, 0.87); }
   .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
     background: rgba(0, 0, 0, 0.04); }
   .mat-primary .mat-option.mat-selected {
     color: #358ed7; }
   .mat-accent .mat-option.mat-selected {
     color: #bdbdbd; }
   .mat-warn .mat-option.mat-selected {
     color: #d32f2f; }
   .mat-option.mat-selected:not(.mat-option-multiple) {
     background: rgba(0, 0, 0, 0.04); }
   .mat-option.mat-active {
     background: rgba(0, 0, 0, 0.04);
     color: rgba(0, 0, 0, 0.87); }
   .mat-option.mat-option-disabled {
     color: rgba(0, 0, 0, 0.38); }


 .mat-primary .mat-pseudo-checkbox-checked,
 .mat-primary .mat-pseudo-checkbox-indeterminate {
   background: #358ed7; }


 .mat-app-background-primary {
   background-color: #358ed7; }

 .mat-app-color-primary {
   color: #358ed7; }

 .mat-button, .mat-icon-button {
   background: transparent; }
   .mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay {
     background-color: rgba(0, 151, 167, 0.12); }
   .mat-button.mat-accent .mat-button-focus-overlay, .mat-icon-button.mat-accent .mat-button-focus-overlay {
     background-color: rgba(189, 189, 189, 0.12); }
   .mat-button.mat-warn .mat-button-focus-overlay, .mat-icon-button.mat-warn .mat-button-focus-overlay {
     background-color: rgba(211, 47, 47, 0.12); }
   .mat-button[disabled] .mat-button-focus-overlay, .mat-icon-button[disabled] .mat-button-focus-overlay {
     background-color: transparent; }
   .mat-button.mat-primary, .mat-icon-button.mat-primary {
     color: #358ed7; }
   .mat-button.mat-accent, .mat-icon-button.mat-accent {
     color: #bdbdbd; }
   .mat-button.mat-warn, .mat-icon-button.mat-warn {
     color: #d32f2f; }
   .mat-button.mat-primary[disabled], .mat-button.mat-accent[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled] {
     color: rgba(0, 0, 0, 0.38); }

 .mat-raised-button, .mat-fab, .mat-mini-fab {
   color: rgba(0, 0, 0, 0.87);
   background-color: white; }
   .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
     color: white; }
   .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
     color: rgba(0, 0, 0, 0.87); }
   .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
     color: white; }
   .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
     color: rgba(0, 0, 0, 0.38); }
   .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
     background-color: #358ed7; }
   .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
     background-color: #bdbdbd; }
   .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
     background-color: #d32f2f; }
   .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
     background-color: rgba(0, 0, 0, 0.12); }
   .mat-raised-button.mat-primary .mat-ripple-element, .mat-fab.mat-primary .mat-ripple-element, .mat-mini-fab.mat-primary .mat-ripple-element {
     background-color: rgba(255, 255, 255, 0.2); }
   .mat-raised-button.mat-accent .mat-ripple-element, .mat-fab.mat-accent .mat-ripple-element, .mat-mini-fab.mat-accent .mat-ripple-element {
     background-color: rgba(0, 0, 0, 0.2); }
   .mat-raised-button.mat-warn .mat-ripple-element, .mat-fab.mat-warn .mat-ripple-element, .mat-mini-fab.mat-warn .mat-ripple-element {
     background-color: rgba(255, 255, 255, 0.2); }

 .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
   background-color: #358ed7; }

 .mat-chip.mat-chip-selected.mat-primary {
   background-color: #358ed7;
   color: white; }
   .mat-chip.mat-chip-selected.mat-primary .mat-chip-remove {
     color: white;
     opacity: 0.4; }
   .mat-chip.mat-chip-selected.mat-primary .mat-chip-remove:hover {
     opacity: 0.54; }

 .mat-calendar-body-selected {
   background-color: #358ed7;
   color: white; }

 .mat-focused .mat-form-field-placeholder {
   color: #358ed7; }
   .mat-focused .mat-form-field-placeholder.mat-accent {
     color: #bdbdbd; }
   .mat-focused .mat-form-field-placeholder.mat-warn {
     color: #d32f2f; }

 .mat-form-field-ripple {
   background-color: #358ed7; }
   .mat-form-field-ripple.mat-accent {
     background-color: #bdbdbd; }
   .mat-form-field-ripple.mat-warn {
     background-color: #d32f2f; }

 .mat-icon.mat-primary {
   color: #358ed7; }

 .mat-progress-bar-fill::after {
   background-color: #358ed7; }

 .mat-progress-spinner path, .mat-spinner path {
   stroke: #358ed7; }

 .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
   border-color: #358ed7; }

 .mat-radio-button.mat-primary .mat-radio-inner-circle {
   background-color: #358ed7; }

 .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
   color: #358ed7; }

 .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
   background-color: #358ed7; }

 .mat-primary .mat-slider-track-fill,
 .mat-primary .mat-slider-thumb,
 .mat-primary .mat-slider-thumb-label {
   background-color: #358ed7; }

 .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
   background-color: #358ed7; }

 .mat-tab-group.mat-background-primary .mat-tab-header, .mat-tab-group.mat-background-primary .mat-tab-links, .mat-tab-nav-bar.mat-background-primary .mat-tab-header, .mat-tab-nav-bar.mat-background-primary .mat-tab-links {
   background-color: #358ed7; }

 .mat-toolbar {
   background: whitesmoke;
   color: rgba(0, 0, 0, 0.87); }
   .mat-toolbar.mat-primary {
     background: #358ed7;
     color: white; }
   .mat-toolbar.mat-accent {
     background: #bdbdbd;
     color: rgba(0, 0, 0, 0.87); }
   .mat-toolbar.mat-warn {
     background: #d32f2f;
     color: white; }
