@font-face {
  font-family: 'adelle_sansregular';
  src: url('./fonts/adelle-sans/adellesans_regular-webfont.eot');
  src: url('./fonts/adelle-sans/adellesans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/adelle-sans/adellesans_regular-webfont.woff2') format('woff2'), url('./fonts/adelle-sans/adellesans_regular-webfont.woff') format('woff'), url('./fonts/adelle-sans/adellesans_regular-webfont.ttf') format('truetype'), url('./fonts/adelle-sans/adellesans_regular-webfont.svg#adelle_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family:  'adelle_sansregular', 'Helvetica';
}

.guiVersion2 .button {
   background-color: #627b2f !important;
}

.guiVersion2 .button:hover {
    background-color: #465822 !important;
}

.guiVersion2 body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/bakgrunn.png);
}

.loginFrame {
    border: 0px #939598 solid;
}